/* Uso esta clase para poner en el centro los textos */
.conteiner-center {
    text-align: center;
}

/* FUENTES */
/* Titulos */

.kalnia-glaze-titulo {
    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Sub titulos */

.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Textos */

.big-shoulders-stencil-text {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}