%fuente-navbar {

    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

%fuente-titulo {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

%fuente-subtitulo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%fuente-texto {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}